{% extends "base.html" %}

{% block content %}
    <div class="row">
        <!--<div class="product" style="background-image: url('{{ MEDIA_URL }}{{ product.image }}')">
            <p><span class="boldtext">Price:</span>{{ product.price }}</p>
        </div> -->
        <div class="col-md-2 col-sm-3 text-center">
            <a href="#">
                <img class="product-image" src="{{ MEDIA_URL }}{{ product.image }}" alt="{{ product.name }}">
            </a>
            <p><span class="boldtext">Price:</span> {{ product.price }}</p>
        </div>
        <div class="col-sm-10 col-md-9">
            <h3>{{ product.name }}</h3>
            <form method="post" action="{% url 'add_to_cart' product.id %}">
                    {% csrf_token %}
                    <div class="input-group">
                        <input name="quantity" type="number" min="1" max="999" class="form-control" placeholder="Quantity">
                        <span class="input-group-btn">
                            <button class="btn btn-success" type="submit">Add</button>
                        </span>
                    </div>
            </form>
            <div class="row">
                <div class="col-xs-9">
                    <p>{{ product.description }}</p>

                    <a href="{% url 'view_cart' %}" class="btn btn-default">View Cart</a>
                    <hr>
                </div>
            </div>
        </div>
    </div>
    <!-- comments -->
    <div class="col-md-8 card mb-4  mt-3 ">
      <div class="card-body">
        <h3>Leave a comment</h3>
        <form method="post" style="margin-top: 1.3em;">
          {{ comment_form.as_p }}
          {% csrf_token %}
          <button type="submit" class="btn btn-primary  btn-lg">Submit</button>
        </form>
      </div>
    </div>
    <div class="col-md-8 card mb-4  mt-3 ">
      <div class="card-body">
        <h2>{{ comments.count }} comments</h2>

        {% for comment in comments %}
        <div class="comments" style="padding: 10px;">
          <p class="font-weight-bold">
            {{ comment.user }}
            <span class=" text-muted font-weight-normal">
              {{ comment.created_on }}
              {% if comment.user == user %}
              <a href="{% url 'edit_comment' product.id comment.pk %}"><button>edit</button></a>
              <button>delete</button>
              {% endif %}
            </span>
          </p>
          {{ comment.body | linebreaks }}
        </div>
        {% endfor %}
      </div>
    </div>
{% endblock %}