{% extends "base.html" %}
{% block content %}
    <h2>Edit your profile details below:</h2>
    
     <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <form role="form" action="" method="post">
                    {% csrf_token %}
                    {{ base_form | as_bootstrap }}
                    {{ profile_form | as_bootstrap }}
                    <div>
                        <button type="submit" class="btn btn-success">Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}