{% extends 'base.html' %}
{% block content %}

<div class="welcome">
    <h1>Welcome to Lootify</h1>
    <p>Lootify is an online store that caters to Live Action Role Players, or LARPers.<br>
    We provide a number of different products for enthusiasts of the hobby, <br>
    including, weapons, armors and accessories to really immerse yourself in whatever fantasy world you find yourself in.</p>
</div>

<div class="carousel">
    <button class="carousel__button carousel__button--left is-hidden">
        <i class="material-icons">chevron_left</i>
    </button>
    <div class="carousel__track-container">
        <ul class="carousel__track">
            <li class="carousel__slide current-slide">
                <img class="carousel__image" src="https://brendans-lootify.s3.amazonaws.com/media/images/1_armor.jpeg" alt="+1 armor">
            </li>
            <li class="carousel__slide">
                <img class="carousel__image" src="https://brendans-lootify.s3.amazonaws.com/media/images/1_sword.png" alt="+1 sword">
            </li>
            <li class="carousel__slide">
                <img class="carousel__image" src="https://brendans-lootify.s3.amazonaws.com/media/images/1_bow.jpeg" alt="+1 bow">
            </li>
        </ul>
    </div> 
    <button class="carousel__button carousel__button--right">
        <i class="material-icons">chevron_right</i>
    </button>
    <div class="carousel__nav">
        <button class="carousel__indicator current-slide"></button>
        <button class="carousel__indicator"></button>
        <button class="carousel__indicator"></button>
    </div>
</div>

<div class="welcome">
    <h3>View Products by Category:</h3>
</div>

<div class="container-fluid">
    <div class="row">
        <div id="weapons" class="category col-sm-4 col-md-4 col-lg-4">
            <a href="{% url 'all_weapon_products' %}"> 
                <img src="https://brendans-lootify.s3-eu-west-1.amazonaws.com/media/images/icon_weapon.png" alt="view weapons">
            </a>
        </div>
        <div id="armor" class="category col-sm-4 col-md-4 col-lg-4">
            <a href="{% url 'all_armor_products' %}">
                <img src="https://brendans-lootify.s3-eu-west-1.amazonaws.com/media/images/icon_armor.png" alt="view armor">
            </a>
        </div>
        <div id="accessories" class="category col-sm-4 col-md-4 col-lg-4">
            <a href="{% url 'all_accessory_products' %}">
                <img src="https://brendans-lootify.s3-eu-west-1.amazonaws.com/media/images/icon_accessory.png" alt=" view accessories">
            </a>
        </div>
    </div>
</div>
<a href="{% url 'all_products' %}">View all products..</a>

{% load static %}
<script src="{% static 'js/carousel.js' %}"></script>
{% endblock %}