{% extends "base.html" %}
{% load bootstrap_tags %}
{% block content %}
    <h2>Order History</h2>
    
    <!--{% for order in orders %}
        <div class="col-sm-2 col-md-2">{{ order.date }}</div> 
    {% endfor %}-->
    {% for OrderLineItem in order_line_items %}
    <div class="row row-flex">
        <div class="co-sm-2 col-md-2">{{ OrderLineItem.order.date }}</div>
        <div class="co-sm-3 col-md-3">{{ OrderLineItem.product }}</div>
        <div class="col-sm-2 col-md-2">{{ OrderLineItem.quantity }}</div>
    </div>
    {% endfor %}
    
    
{% endblock %}